.navbar{
    text-decoration:none;
    height: 40px;
}

.rightside{
    text-decoration: none;
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-around;
}

div2{
border-radius: 5px;
    background-color: #f2f2f2;
    padding: 0px;
}